body {
  background-color: rgba(211, 211, 211, 0.587);
}
.header-area {
  background-color: #ffffff;
  z-index: 100;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-area .main-nav {
  display: flex;
}

.header-area .main-nav .logo {
  flex-basis: 30%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
  width: 159px;
  margin-top: 15px;
}

.background-header .main-nav .logo img {
  width: 159px;
}

.header-area .main-nav .nav {
  flex-basis: 70%;
  justify-content: space-around;
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  /* position: relative; */
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  color: rgb(3, 3, 3);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.4s ease 0s;
  border: transparent;
  padding: 8px 15px;
  position: relative;
  border-radius: 18px;
  letter-spacing: 0.5px;
}
.header-area .main-nav .nav li a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 17px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: rgb(3, 3, 3);
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: rgb(0, 0, 0);
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area {
    top: 0;
  }

  .header-area .main-nav {
    background-color: transparent;
    border-radius: 0px;
  }

  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }

  .header-area .main-nav .logo {
    position: absolute;
    left: 30px;
    top: 15px;
  }

  .background-header .main-nav .logo {
    top: 0px;
  }

  .background-header .main-nav .border-button {
    top: 0px !important;
  }

  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }

  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }

  .header-area .menu-trigger {
    display: block !important;
  }

  .header-area .main-nav {
    overflow: hidden;
  }

  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }

  .header-area .main-nav .nav li {
    width: 100%;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #1e1e1e !important;
  }

  .header-area .main-nav .nav li a:hover {
    background: #f7f7f7 !important;
    color: #22b3c1 !important;
  }

  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }

  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }

  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }

  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }

  .header-area .main-nav .nav li.has-sub:after {
    color: #3b566e;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }

  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

/* Main section start */
.main-section {
  height: 80vh !important;
}
.grid-col-2 {
  --auto-grid-min-size: 40%;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 2rem;
  margin-top: 5rem;
  justify-items: center;
}
.left-side {
  display: flex;
  height: 100%;
  position: relative;
}
.second-img {
  margin-top: 90px;
  margin-left: -50px;
  z-index: 555;
}

.banner-img {
  border: 5px solid rgb(255, 255, 255);
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 40%;
}

/* Book now section */
.book-now {
  width: 88%;
  margin: 0 auto;
}
.grid-col-4 {
  display: flex;
  justify-content: space-between;
  border-radius: 0 50px 50px 0;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.get-btn {
  margin-left: 100px;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}
.discover-section {
  margin: 7% !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .main-section {
    margin-top: 10rem;
    width: 100%;
  }
}
@media (max-width: 702px) {
  .grid-col-2 {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  .right-section {
    margin: 50px auto;
  }
  .main-section {
    height: 120vh !important;
  }
  .grid-col-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
  }
  .item {
    width: 100%;
  }
  .get-btn {
    margin-left: 0;
  }
}
